rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isMoveBussEmail() {
      return request.auth != null &&
             request.auth.token.email.matches('^[^@]+@movebuss\.local$');
    }
    function matricula() {
      return request.auth.token.email.split('@')[0];
    }
    function isAdmin() {
      return ['12','6266','1778'].hasAny([matricula()]);
    }

    match /usuarios/{id} {
      allow read: if isAdmin() || id == matricula();
      allow create: if isAdmin();
      allow update: if isAdmin() || id == matricula();
    }

    match /relatorios/{docId} {
      allow create: if isMoveBussEmail();
      allow read: if isMoveBussEmail();
      allow delete: if isAdmin();
      allow update: if false;
    }
  }
}